services:
  app:
    build: .
    container_name: sptrans_app
    stdin_open: true  # remover em produção
    tty: true         # remover em produção
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - sptrans_net
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=sptrans
      - DB_USER=postgres
      - DB_PASSWORD=postgres
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: sptrans_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sptrans
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - sptrans_net

  pgadmin:
    image: dpage/pgadmin4
    container_name: sptrans_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - sptrans_net

  airflow-init:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: airflow_init
    depends_on:
      - db
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:postgres@db/airflow_db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - PYTHONPATH=/opt/airflow:/opt/airflow/dags:/opt/airflow/processors:/opt/airflow/api
    entrypoint: /bin/bash
    command: -c "airflow db init"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./api:/opt/airflow/api
      - ./processors:/opt/airflow/processors
      - ./config:/opt/airflow/config
    networks:
      - sptrans_net

  airflow-create-user:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: airflow_create_user
    depends_on:
      - airflow-init
    entrypoint: /bin/bash
    command: >
      -c "airflow users create
      --username airflow
      --firstname Admin
      --lastname User
      --role Admin
      --email airflow@example.com
      --password airflow"
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:postgres@db/airflow_db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - PYTHONPATH=/opt/airflow:/opt/airflow/dags:/opt/airflow/processors:/opt/airflow/api
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./api:/opt/airflow/api
      - ./processors:/opt/airflow/processors
      - ./config:/opt/airflow/config
    networks:
      - sptrans_net

  airflow-webserver:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: airflow_webserver
    env_file:
      - .env
    depends_on:
      - airflow-create-user
    ports:
      - "8080:8080"
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:postgres@db/airflow_db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
      - PYTHONPATH=/opt/airflow:/opt/airflow/dags:/opt/airflow/processors:/opt/airflow/api
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./api:/opt/airflow/api
      - ./processors:/opt/airflow/processors
      - ./config:/opt/airflow/config
      - ./data:/opt/airflow/data
    command: webserver
    networks:
      - sptrans_net

  airflow-scheduler:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: airflow_scheduler
    depends_on:
      - airflow-webserver
    env_file:
      - .env
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:postgres@db/airflow_db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - PYTHONPATH=/opt/airflow:/opt/airflow/dags:/opt/airflow/processors:/opt/airflow/api
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./api:/opt/airflow/api
      - ./processors:/opt/airflow/processors
      - ./config:/opt/airflow/config
      - ./data:/opt/airflow/data
    command: scheduler
    networks:
      - sptrans_net

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - sptrans_net

  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:latest
    container_name: sptrans_dbt
    volumes:
      - ./dbt:/usr/app
      - ./config/dbt_profiles:/root/.dbt
    depends_on:
      - db
    networks:
      - sptrans_net
    entrypoint: [ "dbt" ]

volumes:
  pgdata:
  pgadmin_data:
  minio_data:

networks:
  sptrans_net: